<!-- Contenedor principal -->
<!-- Este contenedor utiliza flexbox para alinear los elementos -->
<div class="flex items-center">
  
  <!-- Contenedor del efecto de borde animado -->
  <!-- Aplica un borde animado con un gradiente cónico -->
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
    ></span>
    
    <!-- Contenedor del contenido del badge -->
    <!-- Define el estilo del badge y permite insertar contenido dinámico con <slot /> -->
    <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
      <slot />
    </div>
  </span>
</div>